[submodule "libs/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx
[submodule "libs/rmq"]
	path = extlib/rmq
	url = https://github.com/hferrada/rmq
[submodule "libs/malloc_count"]
	path = extlib/malloc_count
	url = https://github.com/bingmann/malloc_count
[submodule "libs/sais-lite-lcp"]
	path = extlib/sais-lite-lcp
	url = https://github.com/kurpicz/sais-lite-lcp
