[submodule "libs/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx
[submodule "libs/rmq"]
	path = extlib/rmq
	url = https://github.com/hferrada/rmq
[submodule "libs/malloc_count"]
	path = extlib/malloc_count
	url = https://github.com/bingmann/malloc_count
[submodule "libs/sais-lite-lcp"]
	path = extlib/sais-lite-lcp
	url = https://github.com/kurpicz/sais-lite-lcp
[submodule "extlib/libsais"]
	path = extlib/libsais
	url = https://github.com/IlyaGrebnov/libsais
[submodule "extlib/ips4o"]
	path = extlib/ips4o
	url = https://github.com/ips4o/ips4o
[submodule "extlib/parallel-hashmap"]
	path = extlib/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "extlib/PGM-index"]
	path = extlib/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
