[submodule "libs/tlx"]
	path = libs/tlx
	url = https://github.com/tlx/tlx
[submodule "libs/rmq"]
	path = libs/rmq
	url = https://github.com/hferrada/rmq
[submodule "libs/stash"]
	path = libs/stash
	url = https://github.com/pdinklag/stash/
